@charset "utf-8";
/* CSS document*/
/*Estilos generales del cuerpo */
body {
	font-family: Arial, sans-serif; /*Fuente del texto */
	background-color: #f0f0f0; /*color de fondo*/
	margin: 0;  /*Elimina margenes por defecto */
	padding: 0;    /*Elimina padding por defecto */
	display: flex; /*Usa flexbox para centrar el contenido */
	justify-content: center; /*Centra horizontalmente*/
	align-items: center; /*Centra verticalmente*/
	height: 100vh; /*Ocupa toda la altura de la pantalla*/
}

/*Contenedor principal que agrupa las 3 Cards */
.container {
	display: flex; /* Usa flexbox para organizar las cards */
	gap: 20px; /*Espacio entre cada card*/
}

.card {
	width: 300px; /*Ancho de la tarjeta*/
	padding: 20px; /*Espacio interno*/
    border-radius: 10px; /*Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*Sombra para efecto 3D */
    text-align: center; /*Centra el texto dentro de la Card*/
    background-color: white; /*Color de Fondo*/
}

/*Estilos para los titulos dentro de cada Card */
.card h2{
	color: #333; /*Color del texto del titulo */
}

/*Estilos para el párrafo dentro de cada card*/
.card p {
	color: #666; /*Color del texto del parrafo*/
}

/*Estilos responsivos: cuando la pantalla es menor a 900px */
@media (max-width: 900px) {
	.container {
		flex-direction: column; /*Cambia de filas a columnas*/
		align-items: center; /*Centra las cards en columnas*/
	}
}